<body ng-app="homePage">

  <div ng-controller="mainController" style="height:100%;position:relative;">

    <nav>
      <div class="container-fluid">
        <div class="nav-wrapper">
          <span><a href="#" class="brand-logo"><span class="glyphicon glyphicon-phone"></a></span>
          <span><p class="brand-logo">AnonymEyes</p></span>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="about.html">About</a></li>
            <li><a href="about.html">Download the app</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="card col s7">
          <div id="map">
          </div>
        </div>
        <div class="card col s4 card-list-video">
          <div class="list-video" ng-repeat="video in videos" ng-click="showModal(video)">
            <span class="list-time">{{formatTime(video.time)}}</span>
            <span class="list-address text-muted">{{video.address}}</span>
            <div class="spacer"></div>
          </div>
        </div>
      </div>

      <div class="modal" ng-repeat="video in videos" id="modal-{{formatFilename(video.filename)}}">
        <div class="modal-content" style="{padding: 0px;}">
          <video width="288" height="352" controls loop ng-if="checkVideo(video)">
            <source ng-src="{{getFile(video)}}" type="video/mp4">
            </video>

            <div class="empty-video" ng-if="!checkVideo(video)">
              The video is processing.
            </div>

            <div class="spacer"></div>

            <span class="modal-address">{{video.address}}</span>
          </div>
        </div>

      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClOsOusm151JpYil1kptdDMfknXlNYJ5s"></script>
  </body>
