<body ng-app="homePage">

  <div ng-controller="mainController" style="height:100%;position:relative;">

    <nav>
      <div class="container-fluid">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="card col s7">
          <div id="map">
          </div>
        </div>
        <div class="card col s4">
          <div class="list-video" ng-repeat="video in videos" ng-click="showModal(video)">
            <span class="list-time">{{formatTime(video.time)}}</span>
            <span class="list-address text-muted">{{video.address}}</span>
            <div class="spacer"></div>
          </div>
        </div>
      </div>

      <div class="modal" ng-repeat="video in videos" id="modal-{{formatFilename(video.filename)}}">
        <div class="modal-content">
          <video width="352" height="288" controls loop>
            <source ng-src="{{getFile(video)}}" type="video/mp4">
            </video>

            <div class="spacer"></div>

            <span class="modal-address">{{video.address}}</span>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
          </div>
        </div>

      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClOsOusm151JpYil1kptdDMfknXlNYJ5s"></script>
  </body>
