<body ng-app="homePage">

  <div ng-controller="mainController" style="height:100%;position:relative;">
    <div class="container-fluid">

      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="card col s8">
          <div id="map">
          </div>
        </div>
        <div class="col s4">
          <div class="marker card" ng-repeat="marker in markers">
            <p class="marker-timestamp">{{marker.timestamp}}Sept 2, 2015</p class="marker-timestamp">
            <p class="marker-address text-muted">{{marker.address}}Toronto, ON</p>
          </div>
        </div>
      </div>

      <div class="modal" ng-repeat="marker in markers" id="modal-{{$index+1}}">
        <div class="modal-content">
          <p class="marker-timestamp">{{marker.timestamp}}</p class="marker-timestamp">
          <p class="marker-address">{{marker.address}}</p>
          <iframe src="http://www.youtube.com/embed/KMU0tzLwhbE?autoplay=0" width="100%" height="100%"></iframe>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
        </div>
      </div>

    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClOsOusm151JpYil1kptdDMfknXlNYJ5s"></script>
</body>
