#map {
  height: 500px;
}

.spacer {

	clear:both;
	width: 0;
}

.card {
	margin: 20px;
}

.modal {
}
.modal-content {
  border: none;
  border-radius: none;
  box-shadow: none;
  height: auto;
  text-align: center;
}

.modal-address{

}


.list-time {
	float: left;
}

.list-address {
	float: right;
}



/* list view */
.video {
	border-top: 1px solid black;
	border-bottom: 1px solid black;

}
