body {
	a, a:hover, a:focus, a:visited, a[href]:after {
		text-decoration: none;
		color: inherit;
	}

	color: #2C3E50;

	overflow: hidden;
}

nav {
}
nav .brand-logo {
  position: relative;
}
.glyphicon {
  top: 4px;
}

#map {
	height: 540px;
}

.spacer {

	clear:both;
	width: 0;
}

.text-muted {
	color: #2C3E50;
}

.row .col.card {
	padding: 0;
	margin: 20px;
}

.card.card-list-video{
	height: 540px;
	overflow-y: auto;
}

.modal {
  overflow-y: hidden;
  width: 30%;
}

.modal-address{

}

.empty-video {
	height: 400px;
	line-height: 288px;
	margin-left: none;
	margin-right: none;
	width: 100%;
}






.list-time {
	float: left;
	width: 30%;
	margin-right: 5%;
}

.list-address {
	white-space: pre-wrap;
	max-width: 65%;
	float: left;
}



/* list view */
.list-video {
	border-bottom: 1px solid #2980B9;
	cursor: pointer;
	padding: 10px;
}

.list-video:hover {
	background-color: #2980B9;
	color: white;

	.text-muted {
		color: white;
	}
}


.modal .modal-content {
	border: none;
	border-radius: none;
	box-shadow: none;
	height: auto;
	text-align: center;
  padding: 0;
}
